/* src/styles/LandingPage.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing-container {
  text-align: center;
}

.logo {
  margin-bottom: 20px;
}
h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  header {
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .social-links {
    justify-content: center;
    margin-top: 10px;
  }

  p {
    font-size: 1rem; /* Adjust the font size for smaller screens */
    margin-bottom: 16px; /* Adjust the bottom margin for smaller screens */
  }
}



p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}
header {
  background-color: #ffffff; /* Adjust background color as needed */
  padding: 0px;
  margin-top: 10px;
}

nav {
  display: flex;
  justify-content: center;
}

.social-links {
  display: flex;
  gap: 3px;
  align-items: center; /* Center the social media links vertically */
}

.social-links a {
  display: flex;
  align-items: center; /* Center the content of each link horizontally and vertically */
  color: white;
  text-decoration: none;
}

.social-links img {
  width: 20px; /* Adjust the width of the social media icons */
  height: 20px; /* Adjust the height of the social media icons */
  margin-right: 30px;
  margin-bottom: 0px;
  margin-left: 30px;
  margin-top: 3px; /* Add some space between the icons */
}

@media screen and (max-width: 768px) {
  header {
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .social-links {
    justify-content: center;
    margin-top: 10px;
  }
}
